<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tisíc Očí</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="header">
            <h1>Tisíc Očí <span class="subtitle">- Buňka 113</span></h1>
        </div>
        <div class="sub-header">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.openstreetmap.org/" target='_blank'>Mapa</a>
                    </li>
                    <li>
                        <a href="https://followmee.com/map.aspx" target='_blank'>Pátrač</a>
                    </li>
                    <li>
                        <a href="https://upload.nolog.cz/" target='_blank'>Přenos Dat</a>
                    </li>
                    <li>
                        <a href="https://cryptpad.cz/pad/#/2/pad/view/0Oo7GiqwCh+SrGlGueMXAaNFD01tHdrEBLtKSmP3Yp4/" target='_blank'>Hlášení</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="content-container">
            {% include "content.html" %}
        </div>

        <div class="banner">
            <div class="banner-content">
                <span class="separator"></span>
                <span>Odpor</span>
                <span class="separator">|</span>
                <span>Pravda</span>
                <span class="separator">|</span>
                <span>Decentralizace</span>
                <span class="separator">|</span>
                <span>Svornost</span>
                <span class="separator">|</span>
                <span>Dozor</span>
                <span class="separator"></span>
            </div>
        </div>
        
        <!-- <p id="hlaseni">Podejte Hlášení!</p> -->
        
        
        <div id="update-timer"></div>

        <!-- Add the timer element here -->
        
        <script src="blink-hlaseni.js"></script>
        <script src="auto_refresh.js"></script>
        <script src="timers.js"></script>
        <script src="update_timer.js"></script>
    </body>
</html>