<article>
    <div class="article-writer">Hlava 1.:</div>
    <div class="article-content">
        <p>Toto je zabezpečené rozhraní pro jednostrannou komunikaci s operativci organizace Tisíc Očí - buňka 113.</p>
        <p>V horní části stránky se nachází odkazy na Mapa, Pátrač, Přenos Dat a Hlášení. Tyto funkce užívejte kdykoliv
            bude třeba. Pro Vaši bezpečnost a v zájmu zachování utajení organizace, nepřistupujte z tohoto zařízení k
            jiným stránkám a nástrojům, nebude-li k tomu explicitně vyzváni. Digitální prostor není bezpečný, přístup na
            nezabezpečené stránek ohrožuje nás, naše informátory, i spolupracovníky a kontakty v zahraničí, bez kterých
            je naše snaha o ochranu whistleblowerů marná.</p>

        <p>V průběhu operace pravidelně podávajte informace o vašem postupu na stránce Hlášení. Tímto způsobem zajistíte
            plynulý přenos informací jak operační centrále, která vám distančně poskytuje logistickou podporu, tak i
            operativcům vaší buňky. Ti ze stránky Hlášení mohou zpětně získat přehled o činnosti ostatních členů, pokud
            se v průběhu operace vaše cesty rozejdou. V případě mimořádné potřeby můžete skrze Hlášení také navázat s
            operační centrálou nouzový kontakt.</p>

        <p>Centrála vám zajišťuje distanční podporu a poskytuje veškeré potřebné informace a nástroje pro hladký průběh
            operace. Pro váš úspěch je klíčová <b>komunikace</b> a <b>dochvilnost</b> v plnění úkolů. Je klíčové, aby
            byly dodrženy časy návratu na základnu.</p>

        <p>Na základně musí být neustále přítomen alespoň jeden člen buňky, zodpovědný za příjem a předání informací z
            tohoto komunikačního kanálu zbylým operativcům v terénu. Pro takovou komunikaci využívejte výhradně
            zabezpečená mobilní zařízení, která Vám byla přidělena.</p>

        <p>Operační centrála vám bude skrze tento komunikační kanál průběžně poskytovat informace a organizovat dílčí
            úkoly, nutné pro splnění mise. Splnění dílčích úkolů může vyžadovat rozdělení buňky na několik skupin, pro
            vaši orientaci označených písmeny A, B, a C, o stanoveném počtu lidí (#operativců). Rozdělení konkrétních
            úkolů, jakož i průběžná přeskupení operativců v rámci skupin, je na vašem uvážení. Přeskupování v rámci
            skupin je ovšem zpravidla žádoucí.</p>

        <br>

        <p style="text-align: right;">V bdělosti spojeni,<br> ve stínech skryti.</p>
    </div>
</article>

<hr>

<article>
    <div class="article-writer">Hlava 2.:</div>
    <div class="article-content skupina-a">
        <p>
            <b>Začátek</b>: <span class="start-time">15:15</span>
            <span class="start-time-countdown"></span>
        </p>
        <p>
            <b>Konec</b>: <span class="end-time">17:00</span>, základna
            <span class="end-time-countdown"></span>
        </p>
        <p>
            <b>#operativců</b>: 3
        </p>
        <p>
            <b>Skupina</b>: A
        </p>
        <p>
            <b>Náročnost</b>: Komunikace
        </p>
        <br>
        <p>
            Dnes v poledne došlo k nečekanému vývoji mise. Kontakt s whistleblowerem přijíždějícím do Prahy pod kódovým
            jménem Sfinga, nebyl navázán, navzdory schůzce, sjednané zahraničními partnery. V současné chvíli není
            jisté, co vedlo k porušení domluveného postupu. Na základě obdržených informací se ale v příletové hale
            podařilo identifikovali dva subjekty, odpovídající popisu Sfingy a opatřit je GPS lokátorem.
        </p>
        <p>
            Otevřete Pátrač v horní části stránky. Po přihlášení se začnou přenášet GPS polohy dvou označených subjektů,
            pod krycími jmény Přízrak a Stín. Úkolem skupiny A je telefonicky a textovými zprávami navigovat zbylé
            operativce při sledování subjektů Přízrak a Stín a sběru informací.
        </p>
        <p>
            Jen jeden ze dvou sledovaných subjektů je náš kontakt - Sfinga. Je vysoce pravděpodobné, že cílem druhého
            subjektu je rozvrat a zmatení naší operace. Nebezpeční lidé mají zájem na tom, aby Sfinga z Prahy neodjela
            živá. I stěny mají uši - abyste snížili riziko odposlouchávání, minimalizujte délku telefonických hovorů. Na
            každé SIM kartě máte povoleno max. 50 minut volání a 50 SMS.
        </p>
        <p>O postupu Buňky nás pravidelně informujte na stránce <q>Hlášení</q>, kterou najdete v horní části stránky.
        </p>
        <br>
        <p>Uživatelské jméno: &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;</p>
        <p>Heslo: &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;</p>
        <p>V Pátrači funkci Real Time Tracking stisknutím tlačítka vlevo dole <q>Start Real Time</q>. Pokud se vám
            tlačítko nezobrazuje, stiskněte nejprve tlačítko <q>Options</q> nahoře.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava 3.:</div>
    <div class="article-content skupina-b">
        <p>
            <b>Začátek</b>: <span class="start-time">15:15</span>
            <span class="start-time-countdown"></span>
        </p>
        <p>
            <b>Konec</b>: <span class="end-time">17:00</span>, základna<span class="end-time-countdown"></span>
        </p>
        <p>
            <b>#operativců</b>: 3
        </p>
        <p>
            <b>Skupina</b>: B
        </p>
        <p>
            <b>Náročnost</b>: Diskrétnost
        </p>
        <br>
        <p>Je třeba získat maximum informací o sledovaném subjektu Přízrak. Sledujte jej a zaznamenejte informace,
            fotografie, a jakékoli další materiály a předměty umožňující jeho identifikaci. V žádném případě nenavazujte
            kontakt s kterýmkoliv ze subjektů a zůstaňte po celou dobu zcela diskrétní a v utajení. Nevíme, který ze
            sledovaných subjektů může být podstrčený agent, s cílem infiltrovat naši buňku.</p>

        <p>Nejpozdějí do 17:00 se dostavte do výchozí základny, nahrajte do Přenos Dat nasbírané materiály a odkaz
            vložte do Hlášení.</p>

    </div>
</article>

<article>
    <div class="article-writer">Hlava 4.:</div>
    <div class="article-content skupina-c">
        <p>
            <b>Začátek</b>: <span class="start-time">15:15</span>
            <span class="start-time-countdown"></span>
        </p>
        <p>
            <b>Konec</b>: <span class="end-time">17:00</span>, základna<span class="end-time-countdown"></span>
        </p>
        <p>
            <b>#operativců</b>: 3
        </p>
        <p>
            <b>Skupina</b>: C
        </p>
        <p>
            <b>Náročnost</b>: Diskrétnost
        </p>
        <br>
        <p>Je třeba získat maximum informací o sledovaném subjektu Stín. Sledujte jej a zaznamenejte informace,
            fotografie, a jakékoli další materiály a předměty umožňující jeho identifikaci. V žádném případě nenavazujte
            kontakt s kterýmkoliv ze subjektů a zůstaňte po celou dobu zcela diskrétní a v utajení. Nevíme, který ze
            sledovaných subjektů může být podstrčený agent, s cílem infiltrovat naši buňku.</p>

        <p>Nejpozdějí do 17:00 se dostavte do výchozí základny, nahrajte do Přenos Dat nasbírané materiály a odkaz
            vložte do Hlášení.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava 5.:</div>
    <div class="article-content">
        <p>
            <b>Začátek</b>: <span class="start-time">17:00</span>
            <span class="start-time-countdown"></span>
        </p>
        <p>
            <b>Konec</b>: <span class="end-time">17:30</span>, základna 2<span class="end-time-countdown"></span>
        </p>
        <p>
            <b>#operativců</b>: Celá buňka
        </p>
        <br>
        <p>Dobrá práce. Nahrané materiály a informace jsme byli schopni porovnat s interní databází a potvrdit, že
            whistleblower Sfinga, se kterým musíme ustanovit kontakt, je totožný se sledovaným subjektem “Přízrak”.</p>

        <p>Četnost telefonních hovorů bohužel nejspíše kompromitovala bezpečnost současné základny a nelze vyloučit, že
            zde blízké době proběhne razie. Základnu je nutné urychleně přesunout na novou, bezpečnější základnu, kterou
            jsme vám byli schopni zajistit.</p>

        <p>V plném počtu se přesuňte do objektu nacházejícího se na jižním konci Hořejšího Nábřeží (známé také jako
            Smíchovská Náplavka). Vstupem do základny jsou předposlední dveře ve zdi náplavky a je označen symboly naší
            organizace. Na základně se znovu připojte na informační kanál a očekávejte další instrukce. Neváhejte
            promíchat dosavadní skupiny dle potřeby.</p>
        <br>
        <p style="color: red">Upozornění:<br>Smíte se pohybovat pouze v pravé části základny od vchodu. V žádném případě
            se nedotýkejte jakýchkoliv nástrojů, pokud k tomu od nás nedostanete pokyny. Toalety a umyvadlo jsou vzadu,
            v pravé části, dveře napravo.</p>
    </div>
</article>

<hr>

<article>
    <div class="article-writer">Hlava 6.:</div>
    <div class="article-content">
        Připomínáme, že rozdělení do skupin je na vás a je dovoleno se přeskupovat. Dokonce je to i žádoucí, abyste si
        vybrali úkol dle vašich schopností.
        </p>
</div>
</article>

<article>
<div class="article-writer">Hlava 7.:</div>
<div class="article-content skupina-a">
    <p>
        <b>Začátek</b>: <span class="start-time">17:30</span>
        <span class="start-time-countdown"></span>
    </p>
    <p>
        <b>Konec</b>: <span class="end-time">18:15</span>, základna 2<span class="end-time-countdown"></span>
    </p>
    <p>
        <b>#operativců</b>: 4
        </p>
    <p>
        <b>Skupina</b>: A
        </p>
    <p>
        <b>Náročnost</b>: Sociální a potenciálně fyzická
        </p>
    <br>
    <p>
            Sfinga (Přízrak) se dosud nevzdálil z adresy &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; &#9608;&#9608;. Zjistili jsme, že byt ve kterém se Sfinga schovává patří &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; Křepelkovi.</p>
    <p>Je nutné dále zjistit přesné číslo bytu.
            Ke zjištění informace můžete využít veškeré informace, které jste dosud zjistili. Využijte techniky známé
            jako social engineering. Pomoci vám k tomu mohou tyto materiály:
        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=lc7scxvKQOo" target="_blank">Materiál 1</a>
            </li>
            <li>
                <a href="https://www.microsoft.com/en-us/security/blog/2020/06/30/psychology-social-engineering-soft-side-cybercrime/"
                    target="_blank">Materiál 2</a>
            </li>
            <li>
                <a href="https://github.com/jivoi/awesome-osint" target="_blank">Materiál 3</a>
            </li>
        </ul>
    </p>

</p>
<p>Informaci zjistěte do konce časového limitu od majitelky domu  &#9608;&#9608;&#9608;&#9608;&#9608; &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; na telefonním čísle: +420 &#9608;&#9608;&#9608; &#9608;&#9608;&#9608;
            &#9608;&#9608;&#9608; a následně zadejte do Hlášení.</p>
<br>
<br>
<p style="color: red">Upozornění: Na toto číslo volat smíte.</p>
</div>
</article>

<article>
<div class="article-writer">Hlava 8.:</div>
<div class="article-content skupina-b">
<p>
    <b>Začátek</b>: <span class="start-time">17:30</span>
    <span class="start-time-countdown"></span>
</p>
<p>
    <b>Konec</b>: <span class="end-time">19:00</span>, základna 2<span class="end-time-countdown"></span>
</p>
<p>
    <b>#operativců</b>: 5
        </p>
<p>
    <b>Skupina</b>: B
        </p>
<p>
    <b>Náročnost</b>: Zručnost
        </p>
<br>
<p>
            Je bezpodmínečně nutné navázat kontakt se Sfingou a dostat ho do bezpečí. Naše organizace se zaručila za
            jeho bezpečnost v Praze a tu v současný moment nemůžeme garantovat. Nebezpeční lidé mají zájem na tom, aby
            informace, které převáží, nikdy nikdo nezveřejnil.
        </p>
<p>Je třeba zajistit extrakci Sfingy z domu na &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; a transport na základnu. Extrakci zprostředkuje
            osvědčený spolupracovník z podsvětí. Objednávku extrakce je třeba provést urychleně do 18:10h.
            Kontaktním místem je 50.0862682N, 14.4070717E. V bodě kontaktu vyhledejte bílou plošku tvaru oka - to je kontaktní
            formulář, využívaný podsvětím pro objednávky. K tomu, aby dodavatel kontaktoval naši centrálu, a vyzvedl si
            instrukce k extrakci Sfingy, je třeba formulář označit naším unikátním symbolem pomocí spreje. Potřebný
            materiál naleznete na základně ve žluté tašce vedle vchodu.
        </p>
<p>Okolo formuláře dosprejujte libovolnou vhodnou dekoraci, která získá pozornost podsvětí.</p>
</div>
</article>

<article>
<div class="article-writer">Hlava 9.:</div>
<div class="article-content skupina-a">
<p>
    <b>Začátek</b>: <span class="start-time">18:15</span>
    <span class="start-time-countdown"></span>
</p>
<p>
    <b>Konec</b>: <span class="end-time">19:00</span>, základna 2<span class="end-time-countdown"></span>
</p>
<p>
    <b>#operativců</b>: 3
        </p>
<p>
    <b>Skupina</b>: A
        </p>
<p>
    <b>Náročnost</b>: Fyzicky násilná
        </p>
<br>
<p>Musíme nuceně extrahovat Sfingu a dostat ho do bezpečí základny. Naše organizace se zaručila za jeho
            bezpečnost v Praze a tu v současný moment nemůžeme garantovat.
        </p>
<p>Spolupracovník z podsvětí si u nás na základě označeného formuláře vyzvedl instrukce k extrakci. V 18:40 vás
            náš spolupracovník, v přestrojení za instalatéra, vpustí do domu na &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; &#9608;&#9608;. Instalatér skrz rozvod
            plynu spustí požár v bytě číslo 3, kde se Sfinga ukrývá. Vyčkejte na Sfingu u dveří bytu a po vzplanutí
            požáru a útěku z bytu jej odchytněte a uneste ho do rudého instalatérova automobilu před domem a nechte ho
            odvézt na základnu.</p>
<p>
    <b>Extrakce musí proběhnout v co největším klidu, abyste nevzbudili pozornost okolních civilistů! Základnu
                nenechávejte prázdnou! Alespoň jeden člověk na ni musí zůstat.</b>
</p>
<p>O svém úspěchu následně informujte do Hlášení.</p>
</div>
</article>

<article>
<div class="article-writer">Hlava 10.:</div>
<div class="article-content skupina-b">
<p>
    <b>Začátek</b>: <span class="start-time">19:00</span>
    <span class="start-time-countdown"></span>
</p>
<p>
    <b>Konec</b>: <span class="end-time">20:00</span>, základna 2<span class="end-time-countdown"></span>
</p>
<p>
    <b>#operativců</b>: 3
        </p>
<p>
    <b>Skupina</b>: A
        </p>
<p>
    <b>Náročnost</b>: Extrakce informací
        </p>
<br>
<p>Dobrá práce, Sfinga je v tuto chvíli v bezpečí. Převezměte od Sfingy hard-disk s utajovanými informacemi,
            které vyváží a jeho obsah zadejte do Hlášení. Obsah disku je nutné co nejdříve medializovat a zajistit tak
            Sfingovi bezpečný přesun do azylové země a status whistleblowera pod ochranou zákona.</p>
</div>
</article>

<hr>

<article>
<div class="article-writer">Hlava 11.:</div>
<div class="article-content skupina-a">
<p>
    <b>Začátek</b>: <span class="start-time">19:00</span>
    <span class="start-time-countdown"></span>
</p>
<p>
    <b>Konec</b>: <span class="end-time">20:00</span>, základna 2<span class="end-time-countdown"></span>
</p>
<p>
    <b>#operativců</b>: 3
        </p>
<p>
    <b>Skupina</b>: A
        </p>
<p>
    <b>Náročnost</b>: Extrakce informací
        </p>
<br>
<p>
            Absence disku s důkazy situaci značně komplikuje. Naši zahraniční partneři nemohou Sfinze udělit politický
            azyl, pokud nebude kauza široce mediálně pokrytá - jinak by čelili domácím i mezinárodním sankcím za ochranu
            stíhané osoby. Pokud nejpozději do zítřejšího dne nezajistíme rozsáhlé mediální pokrytí kauzy a pozitivní
            mínění světové veřejnosti, bude Sfinga obratem deportován a perzekuován.
        </p>
<p>
            Podařilo se nám kontaktovat osobu stojící v pozadí mezinárodního mediálního konsorcia (Krycí jméno - Lvice).
            Lvice je ochotna se s vámi sejít a zvážit zítřejší vydání vynesených informací v médiích pod svým vlivem. V
            tuto chvíli je na cestě na základnu, ETA 20:15.</p>
<p>
            Detaily utajovaných informací, které Sfinga vynáší na veřejnost nejsou známy ani nám. Abychom Sfingu
            přesvědčili, že mu bude zajištěn status whistleblowera pod ochranou azylového státu, musíme se ujistit, že
            bude Lvice ochotna vypustit informace od Sfingy do světa. Je na vás, abyste od Sfingy urychleně shromáždili
            maximum informací o kauze a připravili jejich přesvědčivou prezentaci Lvici. Je nutné se zaměřit na tyto
            aspekty:
        <ul>
        <li>Profit pro vydavatele,</li>
        <li>Přesvědčivé podání,</li>
        <li>Příběh,</li>
        <li>Autenticita informací a důkazní materiál.</li>
    </ul>
</p>
<p>
            Zjistěte od Sfingy vše, co jde. Dejte Lvici příběh, který nemůže odmítnout. Pokud Lvice k vydání svolí, bude
            snad Sfinga ochotný nám předat harddisk s důkazním materiálem a podepřít tak svá tvrzení tvrdými fakty.
        </p>
</div>
</article>

<!-- Poslat driv! -->

<article>
<div class="article-writer">Hlava 12.:</div>
<div class="article-content skupina-b">
<p>
    <b>Začátek</b>: <span class="start-time">19:00</span>
    <span class="start-time-countdown"></span>
</p>
<p>
    <b>Konec</b>: <span class="end-time">20:15</span>, základna 2<span class="end-time-countdown"></span>
</p>
<p>
    <b>#operativců</b>: 3
        </p>
<p>
    <b>Skupina</b>: B
        </p>
<p>
    <b>Náročnost</b>: Zručnost
        </p>
<br>
<p>Je třeba urychleně objednat cestovní dokumenty pro Sfingu a zajistit vycestování ze země. Objednávku je třeba
            zadat u osvědčeného dodavatele z podsvětí za pomocí našeho unikátního symbolu (viz předchozí objednávka).
            Nejbližší otevřený formulář je v lokaci 50.0425796N, 14.4051581E. Hledejte u vody, v mistě kam neprší.</p>
<p>Okolo formuláře dosprejujte libovolnou vhodnou dekoraci, která získá pozornost podsvětí.</p>
</div>
</article>

<article>
<div class="article-writer">Hlava 13.:</div>
<div class="article-content skupina-c">
<p>
    <b>Začátek</b>: <span class="start-time">19:00</span>
    <span class="start-time-countdown"></span>
</p>
<p>
    <b>Konec</b>: <span class="end-time">20:15</span>, základna 2<span class="end-time-countdown"></span>
</p>
<p>
    <b>#operativců</b>: 3
        </p>
<p>
    <b>Skupina</b>: C
        </p>
<p>
    <b>Náročnost</b>: Zručnost
        </p>
<br>
<p>Tisíc očí je jméno, které u spojenců whistleblowerů budí respekt a důvěru. Nejspíše se vám ještě bude hodit
            prokázat vaši příslušnost k naší organizaci. Na základně jsme připravili přístroj pro tvorbu poznávacích
            znamení členů organizace Tisíc Očí.</p>
<p>Použijte vyčleněné materiály na tvorbu placky pro každého člena vaší buňky.</p>
<p>Návod: 
    <ul>
        <li>
            <a href="https://youtu.be/QOi7ZJBS7x8?si=ySmzlWqpBoM7koOv&t=51" target="_blank">Video návod</a> - čas 0:51 - 1:18.</li>
        <li>
            <a href="https://praha.skauting.cz/wp-content/uploads/2017/12/SuperButton_SB-1900_manual.pdf" target="_blank">.pdf návod</a> - strana 5.</li>
    </ul>
    <p>
Z předtištěných papíru si vystřihněte kruhy velikosti folie (o poloměru 6 cm). Buďte s přístrojem opatrný.
</div>
</article>

<hr>

<!-- Poslat v 19:10! -->

<article>
    <div class="article-writer">Hlava 14.:</div>
    <div class="article-content">
        <p>
            <b>Začátek</b>: <span class="start-time">20:15</span>
            <span class="start-time-countdown"></span>
        </p>
        <p>
            <b>Konec</b>: <span class="end-time">21:15</span>, základna 2<span class="end-time-countdown"></span>
        </p>
        <p>
            <b>#operativců</b>: Celá buňka
        </p>
        <br>
        <p>Jednání s Lvicí je potvrzeno na 20:15h.</p>
        <p>
            Z důvodů vysoké citlivosti celé záležitosti a absolutního utajení angažmá Lvice v mediálních operacích její
            tým trvá na několika bezpečnostních opatření pro celé jednání:
        <ul>
                <li>Prostor základny bude třeba 15 min před jednáním (tedy ve 20:15) opustit. Ochranka Lvice zde provede
                bezpečnostní screening. Nejpozději ve 20:00 tedy základnu opusťte a vyčkejte na přilehlém hřišti v horní
                části nábřeží.</li>
                <li>Jednání proběhne v naprosté anonymitě - následujte instrukce ochranky, která vás vyzvedne v cca 20:15.
            </li>
                <li>Jednání proběhne u večeře.</li>
                <li>Jednání se nesmí zúčastnit Sfinga - Lvice se chce vyvarovat jakéhokoli potenciální kompromitace vlastní
                osoby - v průběhu jednání se o jeho bezpečnost postará ochranka.</li>
            </ul>
        </p>
        <p>Dodržení dohod a bezpečnosti jednání můžete zcela důvěřovat. Postarejte se o to, aby ohledně tohoto byla co nejdříve informována celá buňka. Podejte hlášení, že jste zpávu přijali.</p>
    </div>
</article>

<hr>

<article>
    <div class="article-writer">Hlava 15.:</div>
    <div class="article-content skupina-a">
        <p>
            <b>Začátek</b>: <span class="start-time">21:20</span>
            <span class="start-time-countdown"></span>
        </p>
        <p>
            <b>Konec</b>: <span class="end-time">23:00</span>, základna 2<span class="end-time-countdown"></span>
        </p>
        <p>
            <b>#operativců</b>: 3
        </p>
        <p>
            <b>Skupina</b>: A
        </p>
        <p>
            <b>Náročnost</b>: Zručnost
        </p>
        <br>
        <p>Objednávka z podsvětí byla úspěšná - Cestovní doklady pro Sfingu jsou připravené.</p>
        <p>Vyzvedněte je od dodavatele v chráněném podzemním prostoru v bodě 50.0704842N, 14.4046575E - přístup do
            prostoru je skrz výtah. Sfinga musí jít s vámi. Před opuštěním bezpečného prostoru bude třeba Sfingu
            vizuálně ztotožnit s fotografií na cestovním dokladě - potřebný materiál obstará dodavatel, za provedení
            odpovídá naše jednotka.</p>
        <p>Na základě cestovních dokumentů vypravte Sfingu příslušným spojem ze země.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava 16.:</div>
    <div class="article-content skupina-b">
        <p>
            <b>Začátek</b>: <span class="start-time">21:20</span>
            <span class="start-time-countdown"></span>
        </p>
        <p>
            <b>Konec</b>: <span class="end-time">23:00</span>, základna 2<span class="end-time-countdown"></span>
        </p>
        <p>
            <b>#operativců</b>: 3
        </p>
        <p>
            <b>Skupina</b>: B
        </p>
        <p>
            <b>Náročnost</b>: Sociální
        </p>
        <br>
        <p>Očekáváme, že hard-disk s důkazním materiálem bude zašifrován. Kontakt se sympatizujícím hackerem vyhledejte
            v prostoru, kde se běžně zdržuje - Joystick Baru u Václavského náměstí, a požádejte ho o pomoc. Je bývalým
            členem naší organizace a poznáte ho podle našeho znamení.</p>
        <p>Je nutné poznamenat, že vůči naší organizaci již nemá žádné závazky, proto se budete muset snažit na něj
            udělat dobrý dojem, abyste ho přiměli ke spolupráci.</p>
        <p>Vezměte si s sebou pro jistotu nějakou hotovost.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava 17.:</div>
    <div class="article-content skupina-b">
        <p>
            <b>Začátek</b>: <span class="start-time">21:20</span>
            <span class="start-time-countdown"></span>
        </p>
        <p>
            <b>Konec</b>: <span class="end-time">23:00</span>, základna 2<span class="end-time-countdown"></span>
        </p>
        <p>
            <b>#operativců</b>: 3
        </p>
        <p>
            <b>Skupina</b>: C
        </p>
        <p>
            <b>Náročnost</b>: Fyzická, klaustrofobie
        </p>
        <br>
        <p>
            Přišel čas získat hard-disk s důkazy. O takovýto materiál mají zájem i ostatní mocnosti, a tak je nezbytně
            nutné získat hard-disk dříve, než se dostane do rukou někomu jinému.
        </p>
        <p>
            Podle informací od Sfingy je harddisk schován hluboko v podzemním tunelu vedoucí z &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; do &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;. Vaším
            úkolem je disk vyzvednout.
        </p>
        <p>Na základně máte u dveří připravenou modrou igelitku s výbavou, v níž se nachází baterky a boty do vody. Vchod se
            nachází na 50.065&#9608;&#9608;&#9608;&#9608;N, 14.423&#9608;&#9608;&#9608;&#9608;E. S výbavou slezte po žebříku dolů a pokračujte do hlubin tunelu. 	

    &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; &#9608;&#9608;&#9608; &#9608;&#9608;&#9608; &#9608;&#9608;&#9608; &#9608;&#9608;&#9608;&#9608;&#9608;&#9608; &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; &#9608;&#9608;.</p>
    </p>
</div>
</article>

<hr>

<article>
<div class="article-writer">Hlava 18.:</div>
<div class="article-content">
    <p>
        <b>Začátek</b>: <span class="start-time">23:00</span>
        <span class="start-time-countdown"></span>
    </p>
    <p>
        <b>Konec</b>: <span class="end-time">23:30</span>, základna 2<span class="end-time-countdown"></span>
    </p>
    <p>
        <b>#operativců</b>: Celá buňka
        </p>
    <br>
    <p>
            S pomocí nástroje od hackera odšifrujte disk, jeho obsah nahrajte do <q>Přenos Dat</q> a odkaz vložte do
            <q>Hlášení</q> a podejte Hlášení.
        </p>
</div>
</article>

<hr>

<article>
<div class="article-writer">Hlava 19.:</div>
<div class="article-content">
    <p>Operativci, pro dnešek jste splnili svou práci. Děkujeme, podali jste výborný výkon. Nahrané důkazní
            materiály budou předány Lvici a zítra vydány v tisku po celém světě. Sfinga v tuto chvíli potvrdil úspěšné
            překročení státních hranic a je na cestě do Peru, kde mu bude udělen status whistleblowera a politický azyl.
        </p>
    <p>Tisíc očí vidí, tisíc očí dává vidět světu.</p>
    <p>Vaše akce v průběhu dnešního dne vzbudily rozruch - než se vody uklidní, bude rozumné se na krátký čas
            stáhnout z Prahy. Vykliďte proto nyní Základnu a přesuňte se do detašovaného úkrytu v lesích. Instrukce vás čekají při odchodu.</p>
    <br>
    <p style="text-align: right;">V bdělosti spojeni,<br> ve stínech skryti.</p>
    <br>
    <p>Děkujeme, za vaši dnešní službu.</p>
</div>
</article>