<article>
    <div class="article-writer">Hlava:</div>
    <div class="article-content">
        <p><b>Začátek</b>: 13:00</p>
        <p><b>Konec</b>: 14:30</p>
        <p>
            <b>#operativců</b>: 14</p>
        <br>
        <p>Připravte se na příjem kontaktu s osobou, která nese krycí jméno Sfinga, ve 14:00. Vaším úkolem bude převzít od ní důležité materiály a předat je dalšímu spojci na letišti Václava Havla. Zachovejte se nenápadně a nezvýrazňujte svou aktivitu. Použijte libovolnou činnost jako krytí vaší přítomnosti. Vaše schopnost zůstat nenápadní je klíčová.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava:</div>
    <div class="article-content">
        <p>
            <b>Čas</b>: 14:30 - 15:00</p>
        <p>
            <b>#operativců</b>: 14</p>
        <br>
        <p>Změna plánu. Kontakt se jménem Sfinga se nepřihlásil a nezjevil se. Okamžitě se přesuňte na Smíchovské nádraží. Další pokyny obdržíte prostřednictvím bezpečné úschovny zavazadel. Kód k úschovně je vám k dispozici. Buďte připraveni na nové instrukce a zachovejte maximální opatrnost.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava:</div>
    <div class="article-content skupina-a">
        <p>
            <b>Čas</b>: 15:15 - 16:00</p>
        <p>
            <b>Skupina</b>: A</p>
        <p>
            <b>#operativců</b>: 4</p>
        <br>
        <p>Obdrželi jste zabezpečené počítače, s nimiž můžete přistupovat pouze k předem schváleným webovým stránkám, aby nedošlo k odhalení naší organizace. Dostali jste odkaz na speciální stránku, kde budete obdržovat další instrukce. Zde jsou zobrazeny GPS polohy dvou subjektů, označených krycími jmény Přízrak a Stín. Zřiďte si dočasnou základnu na pozici [Dajdim člověk v tísni], odkud budete řídit operace celé buňky. Na závěr se setkáme v naší hlavní základně, kde budou nahrané identifikační údaje subjektů a čekáme na validaci od Sfingy. Buďte obezřetní a připraveni na veškeré příkazy.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava:</div>
    <div class="article-content">
        <p>
            <b>Čas</b>: 17:00 - 17:15</p>
        <p>
            <b>#operativců</b>: 14</p>
        <br>
        <p>Identifikujte Sfingu jako Přízrak a připravte se na přesun do další základny.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava:</div>
    <div class="article-content skupina-a">
        <p>
            <b>Čas</b>: 17:30 - 18:00</p>
        <p>
            <b>Skupina</b>: A</p>
        <p>
            <b>#operativců</b>: 4</p>
        <br>
        <p>Situace se komplikuje. Sfinga odmítá spolupracovat, což naznačuje, že se může bát přítomnosti vnějších mocenských sil. Vaším úkolem je využít techniky sociálního inženýrství či vydírání prostřednictvím telefonu k zjištění adresy bydliště Sfingy. Buďte obezřetní a důkladní při plánování a provádění této operace. Každá informace může být klíčová pro úspěch celé mise.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava:</div>
    <div class="article-content skupina-a">
        <p>
            <b>Čas</b>: 18:45 - 19:15</p>
        <p>
            <b>Skupina</b>: A</p>
        <p>
            <b>#operativců</b>: 4</p>
        <br>
        <p>Situace vyžaduje neobvyklá opatření. Domluvený instalatér z podsvětí vás vpustí do bytu v 19:15. Spustí požár skrze rozvod plynu, aby nuceně extrahovali Sfingu. Po úspěšném provedení extrakce přeneste Sfingu do automobilu připraveného u naší základny. Buďte připraveni na možné komplikace a jednejte rychle a efektivně.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava:</div>
    <div class="article-content">
        <p>
            <b>Čas</b>: 19:30 - 20:00</p>
        <p>
            <b>#operativců</b>: 14</p>
        <br>
        <p>Vaším úkolem je převzít od Sfingy hard disk, který by měl mít u sebe. Následně sepíšte detailní report obsahující veškeré informace z tohoto disku. Buďte připraveni na možné komplikace a jednejte rychle a diskrétně. Každá informace z disku může být klíčová pro naši organizaci.</p>
    </div>
</article>

<article>
    <div class="article-writer">Hlava:</div>
    <div class="article-content">
        <p>
            <b>Čas</b>: 20:00 - 21:00</p>
        <p>
            <b>#operativců</b>: 14</p>
        <br>
        <p>Vaším úkolem je přesunout Sfingu do zadní místnosti a zajistit, aby zde zůstala v bezpečí. V 20:15 jsme pro vás zařídili schůzku s novinovým magnátem, který je nám nakloněn. Je klíčové získat jeho zájem a domluvit se na co nejrychlejším zveřejnění informací. Získání jeho kontaktu a domluva na schůzce musí proběhnout zcela anonymně. Po celou dobu setkání udržujte zhasnuté světla a neprozraďte svá skutečná jména před magnátem. Buďte obezřetní a důkladní při plánování a provádění této operace.</p>
    </div>
</article>